* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
    /*for body*/
}

body.light-mode {
    background-color: white;
    color: black;
}

body.light-mode .container,
body.light-mode .button-img,
body.light-mode .language-button-img,
body.light-mode .modes-theem-button-img,
body.light-mode .about-me-box,
body.light-mode .projects-card,
body.light-mode .Contact-get-in-touch-form-box,
body.light-mode .Contact-get-in-touch-form,
body.light-mode #message,
body.light-mode #name,
body.light-mode #submit,
body.light-mode #email,
body.light-mode #media,
body.light-mode .footer {
    background-color: #f0f0f0;
    color: black;
}


body.light-mode .Contact-get-in-touch-form-form-title {
    border-left: 2px solid rgb(204, 204, 204);
}


body.light-mode nav h1,
body.light-mode ul li a,
body.light-mode .about-me,
body.light-mode .about-span-2,
body.light-mode .about-span-3,
body.light-mode .about-span-4,
body.light-mode .Contact-form-span,
body.light-mode .Contact-form-span-2,
body.light-mode input::placeholder,
body.light-mode textarea::placeholder,
body.light-mode textarea,
body.light-mode .span-footer,
body.light-mode .span-footer-2,
body.light-mode .span-footer-3 {
    color: black;
}

body.dark-mode {
    background-color: #203750;
    color: #9aa7bd;
}

/*up&down-button*/
.button-img,
.language-button-img,
.modes-theem-button-img {
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    z-index: 1000;
    padding: 4px;
    background-color: #45709eab;
    border-radius: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    cursor: pointer;
    transition: transform 0.3s ease;
}



.up-button,
.btn-lang,
.down-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #45709eab;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;

}


.up-button {
    position: fixed;
    bottom: 200px;
    right: 60px;
}

.down-button {
    position: fixed;
    bottom: 130px;
    right: 60px;
}

.button-img:hover,
.modes-theem-button-img:hover,
.language-button-img:hover {
    transform: scale(1.1);
}


/*settings-of-web-site*/
.language-button-img {
    position: fixed;
    top: 40px;
    right: 10px;
}

.modes-theem-button-img {
    position: fixed;
    top: 140px;
    right: 10px;
}

button {
    all: unset;
    cursor: pointer;
}

/*header*/
.container {
    max-width: 1200px;
    max-width: 80vw;
    height: 380vh;
    margin: auto;
    border-radius: 80px;
    padding: 40px 60px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.308);
    background-color: #2C537D;
    justify-content: space-between;
}

/*nav-menu*/
ul {
    list-style: none;

}

/*header*/
nav {
    margin: auto;
    width: 70vw;
    height: 5vh;
    border-radius: 80px;

}

/*logo-name*/
nav h1 {
    font-size: 3em;
    float: left;
    color: rgb(154, 167, 189);
}

/*nav-menu*/
nav ul li {
    float: right;
}

/*nav-menu*/
ul li a {
    color: rgb(154, 167, 189);
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    clear: both;
}

/*nav-menu*/
a:hover {
    color: rgb(185, 200, 226);
    text-shadow: 0 0 1px black;
}

/*nav-Contact-icon-about-me*/
.icon-container {
    display: flex;
    flex-direction: row-reverse;
    transition: background-color 0.3s ease;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-media {
    width: 3.5vw;
    height: 3.5vh;
    transition: transform 0.3s ease;
}

.social-media:hover {
    transform: scale(1.1);
}

/*main-my-face-and-my-skils*/
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
    height: 400px;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
}

/*hello,I'm*/
.itme1 .span1 {
    font-size: 5em;
}

/*Valera Arnovich*/
.itme1 .span2,
.itme1 .span3 {
    font-size: 2em;
}

/*my-face*/
.itme-img img {
    width: 400px;
    height: 300px;
    float: right;
}

/*line-skils*/
.icon-line-skils {
    width: 890px;
    height: 50px;
    margin: 0 auto;
    padding: 1rem;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    border-radius: 20px;
    background-color: #966535;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/*line-skils*/
.icon-line-skils img {
    width: 50px;
}

/*shh-boom-boom?-*/
#boom {
    cursor: pointer;
}

/*shh-boom-boom?-*/
.shard {
    position: absolute;
    top: 640px;
    left: 930px;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
    animation: shardAnim 1.5s ease-out forwards;
    pointer-events: none;
    image-rendering: auto;
}

@keyframes shardAnim {
    to {
        transform:
            translate(calc(-50% + var(--tx)), calc(-50% + var(--ty))) scale(0.5);
        opacity: 0;
    }
}

/*shh-boom-boom?-*/
.stick {
    position: absolute;
    top: 600px;
    left: 930px;
    width: 4px;
    height: 60px;
    background: #ffa500;
    transform-origin: center bottom;
    transform: translate(-50%, -50%) rotate(var(--angle)) scaleY(0);
    animation: stickAnim 0.8s ease-out forwards;
    pointer-events: none;
}

/*shh-boom-boom?-*/
@keyframes stickAnim {
    to {
        transform:
            translate(-50%, -50%) rotate(var(--angle)) translateY(-60px) scaleY(1);
        opacity: 0;
    }
}

/*about-me*/
.about-me-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    height: 50vh;
    margin-top: 500px;
    padding: 20px;
    background-color: #27598fab;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.about-me {
    font-size: 2em;
    color: rgb(154, 167, 189);
    font-weight: bold;
}

.about-span-2,
.about-span-3,
.about-span-4 {
    color: rgb(154, 167, 189);
    justify-content: space-around;
    font-size: 1.3em;

}

/*box-of-projects*/
.projects-boxs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    gap: 20px;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    flex-direction: row;
}

.projects-h1-but-span {
    position: absolute;
    display: block;
    font-size: 2em;
    align-items: center;
    margin-top: -30px;
    margin-left: 500px;
    font-weight: bold;
}

/*projects-card*/
.projects-card {
    position: relative;
    overflow: hidden;
    flex: 1 1 30%;
    max-width: 400px;
    margin-top: 50px;
    aspect-ratio: 1/1;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    transition: 0.4s ease-out;
    justify-content: space-between;
    padding: 10px;
}

.projects-card:hover {
    transform: translateY(20px);
}

.projects-card:hover:before {
    opacity: 1;
}

.projects-card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.projects-card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}

.projects-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 2;
    border-radius: inherit;
}

.info a {
    display: flex;
    display: inline-block;
    width: 50px;
    height: 20px;
    align-items: center;
    text-align: center;
    justify-self: start;
    background: rgb(253, 249, 249);
    color: black;
    margin-top: 260px;
    margin-left: 160px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.4s ease;
}

.projects-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.big-card-snap {
    position: absolute;
    font-size: 2rem;
    margin-top: 120px;
    margin-left: 30px;
}

.small-card-snap {
    position: absolute;
    font-size: 1.2em;
    margin-top: 150px;
    margin-left: 30px;
}

/*Contact get in touch form*/
.Contact-get-in-touch-form-box {
    display: flex;
    gap: 20px;
    width: 70vw;
    height: 50vh;
    margin-top: 500px;
    margin-left: 70px;
    padding: 20px;
    background-color: #203750;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.Contact-get-in-touch-form-form-title {
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding: 20px;
    border-left: 2px solid #2c537daf;
}


.Contact-get-in-touch-form {
    display: flex;
    flex-direction: column;
    width: 40vw;
    gap: 10px;
    color: rgb(255, 255, 255);
    background-color: #203750;
}

#message {
    height: 200px;
}

#message,
#name,
#email {
    padding: 10px;
    border-radius: 10px;
    background-color: #45709eab;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    resize: none;
}


input::placeholder,
textarea::placeholder,
textarea {
    font-size: 1.1em;
    color: rgb(255, 255, 255);
}

#submit {
    padding: 10px;
    border-radius: 10px;
    background-color: #45709ee1;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: rgb(253, 253, 253);
    font-weight: bold;
    font-size: 0.900em;
    cursor: pointer;
    width: 5vw;
}

.Contact-form-span {
    display: flex;
    flex-direction: column;
    color: rgb(154, 167, 189);
}

#Contact-form-span-1 {
    font-size: 2em;
    font-weight: bold;
    align-items: center;

}

#Contact-form-span-2 {
    display: flex;
    font-size: 1.2em;
    justify-content: center;
}

.footer {
    display: flex;
    gap: 10px;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 300px;
    margin-left: 70px;
    width: 70vw;
    height: 8vh;
    background-color: #203750;
}



.span-footer {
    display: flex;
    color: rgb(255, 255, 255);
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}


/*menu-for-nav-to-phone*/
.menu {
    display: none;
    cursor: pointer;
}


/*phone-mode-style-size*/
@media (max-width: 768px) {

    .container {
        max-width: 95vw;
        padding: 20px;
        height: auto;
        border-radius: 30px;
    }

    .menu {
        display: flex;
        margin-left: 540px;
        cursor: pointer;
        transition: transform 0.4s ease;
    }

    .menu img {
        width: 45px;
        height: 45px;
    }

    .icon-container {
        position: absolute;
        gap: 10px;
        right: 160px;
        left: 30px;
        top: 10px;
    }

    #footer-icon-container {
        display: none;
    }

    .icon-container img {
        width: 40px;
        height: 40px;
    }

    nav {
        position: relative;
    }

    nav ul {
        display: none;
        position: absolute;
        top: 40px;
        left: 430px;
        transform: translateX(-50%);
        width: 40vw;
        background-color: rgba(44, 83, 125, 0.514);
        flex-direction: column;
        padding: 10px 0;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        z-index: 999;
    }

    nav ul li {
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }

    nav ul li a {
        font-size: 1.2rem;
        color: rgb(154, 167, 189);
    }

    .up-button,
    .down-button {
        display: none;
    }

    .flex-container {
        height: 500px;
        flex-direction: column;
        gap: 20px;
    }

    .itme-img img {
        width: 100%;
        max-width: 300px;
        height: auto;
        float: none;
    }

    .itme1 .span1 {
        font-size: 3rem;
    }

    .itme1 .span2,
    .itme1 .span3 {
        font-size: 1.5rem;
    }

    .icon-line-skils {
        margin-left: 70px;
        width: 70vw;
        gap: 50px;
        flex-wrap: wrap;
        padding: 10px;
    }

    .icon-line-skils img {
        margin-top: -10px;
        width: 50px;
        height: 50px;
    }


    .about-me-box {
        flex-direction: column;
        height: auto;
        margin-top: 80px;
        padding: 15px;
    }

    .about-span-2,
    .about-span-3,
    .about-span-4 {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 10px;
    }


    .projects-h1-but-span {
        margin-left: 246px;
    }

    .big-card-snap {
        position: absolute;
        font-size: 1.3rem;
        margin-top: 30px;
        margin-left: 10px;
    }

    .small-card-snap {
        position: absolute;
        font-size: 1em;
        margin-top: 40px;
        margin-left: 10px;
    }

    .info a {
        margin-top: 120px;
        margin-left: 20px;
        width: 60px;
        height: 35px;
        padding: 0.6rem;
    }


    /* Contact Form */
    .Contact-get-in-touch-form-box {
        flex-direction: column;
        width: 90vw;
        margin-top: 90px;
        margin-left: 5px;
        height: auto;
    }

    .Contact-get-in-touch-form,
    .Contact-get-in-touch-form-form-title {
        width: 100%;
        border-left: none;
    }

    #submit {
        width: 100%;
    }

    /* Footer */
    .footer {
        flex-direction: column;
        width: 90vw;
        padding: 20px;
        margin-top: 80px;
        margin-left: 5px;
        height: auto;
    }

    .span-footer {
        font-size: 0.9rem;
    }
}


@media (max-width: 425px) {

    .container {
        padding: 15px;
        border-radius: 20px;
    }


    .menu {
        margin-top: 30px;
        margin-left: 190px;
    }

    .icon-container {
        position: absolute;
        gap: 10px;
        right: 100px;
        left: 30px;
        top: 57px;
    }

    #footer-icon-container {
        display: none;
    }

    nav ul {
        display: none;
        position: absolute;
        top: 40px;
        left: 200px;
        transform: translateX(-50%);
        width: 50vw;
        background-color: rgba(44, 83, 125, 0.87);
        flex-direction: column;
        padding: 10px 0;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        z-index: 999;
    }


    .flex-container {
        margin-top: 40px;
        gap: 15px;
    }

    .itme-img img {
        max-width: 250px;
    }

    .itme1 .span1 {
        font-size: 2.5rem;
    }

    .itme1 .span2,
    .itme1 .span3 {
        font-size: 1.2rem;
    }

    .icon-line-skils {
        flex-direction: column;
        margin-left: 2px;
        gap: 20px;
        width: 300px;
    }

    .icon-line-skils img {
        width: 35px;
        margin-top: 1px;
    }

    /* About Me */
    .about-me {
        font-size: 1.5rem;
    }

    .about-span-2,
    .about-span-3,
    .about-span-4 {
        font-size: 0.9rem;
    }

    /* Projects */

    .projects-h1-but-span {
        margin-left: 100px;
    }

    .big-card-snap {
        position: absolute;
        font-size: 110%;
        margin-top: 30px;
        margin-left: 10px;
    }

    .small-card-snap {
        position: absolute;
        font-size: 90%;
        margin-top: 40px;
        margin-left: 10px;
    }

    .info a {
        margin-top: 100px;
        margin-left: 20px;
        width: 60px;
        height: 30px;
    }

    /* Contact Form */

    .Contact-get-in-touch-form-box {
        margin-left: -2px;
    }

    #submit {
        font-size: 0.9rem;
    }

    /* Footer */
    .footer {
        padding: 10px;
        margin-left: -2px;
    }


}